//====================================================================================================
.footer {

		/* .footer__container */
 background-color: rgb(171, 12, 54);
color: white;
padding-top: 20px;
padding-bottom: 20px;
		&__container {
		}

		/* .footer__wrapp */

		&__wrapp {
      display: flex;
      align-items: center;
      justify-content: space-around;
		}
}

//====================================================================================================
