//====================================================================================================
.wrapper {}

.page {}

.hero {

  /* .hero__container */
  background-image: url('@img/hero/hero-bg.jpeg');
  background-repeat: no-repeat;
  background-color: rgb(255, 245, 244);
  background-position: top right;

  &__container {}

  /* .hero__wrapp */

  &__wrapp {
    @media (max-width: em(1440)) {
      background-color: rgba(255, 245, 244, 0.5);
    }
  }

  /* .hero__title */

  &__title {
    padding-top: 139px;
    @include adaptiveValue("padding-top", 139, 69);
    margin-bottom: 25px;
    max-width: 696px;
    color: rgb(22, 21, 22);
    font-family: Source Serif Pro;
    font-size: 48px;
    @include adaptiveValue("font-size", 48, 30);
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
  }

  /* .hero__description */

  &__description {
    max-width: 696px;
    margin-bottom: 40px;
    @include adaptiveValue("margin-bottom", 40, 20);
    color: rgb(34, 32, 34);
    font-family: Open Sans;
    font-size: 18px;
    @include adaptiveValue("font-size", 18, 16);
    font-weight: 300;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;

  }

  /* .hero__price */

  &__price {
    color: rgb(22, 21, 22);
    margin-bottom: 40px;
    @include adaptiveValue("margin-bottom", 40, 20);
    font-family: Source Serif Pro;
    font-size: 40px;
    @include adaptiveValue("font-size", 40, 24);
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: left;
  }

  /* .hero__btn */

  &__btn {
    padding: 17px 58px;
    margin-bottom: 57px;
    font-size: 18px;
    @include adaptiveValue("margin-bottom", 57, 20);
    border-radius: 50px;
    background-color: rgb(171, 12, 54);
    color: white;
  }

  /* .hero__advantages */

  &__advantages {
    background-color: rgb(255, 215, 218);
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 140px;

    @media (max-width: em(675)) {
      flex-direction: column;
      height: 100%;
      gap: 24px;
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 16px;
    }
  }

  /* .hero__advantages-item */

  &__advantages-item {
    max-width: 200px;
    position: relative;
    padding-left: 46px;

    span {
      font-family: OpenSans;
      color: black;
      font-weight: 900;
    }
  }

  &__advantages-item--one {
    &::after {
      content: '';
      position: absolute;
      top: 13px;
      left: 0;
      background-image: url('@img/hero/one.svg');
      width: 30px;
      height: 30px;
    }
  }

  &__advantages-item--two {
    &::after {
      content: '';
      position: absolute;
      top: 13px;
      left: 0;
      background-image: url('@img/hero/two.svg');
      width: 30px;
      height: 30px;
    }
  }

  &__advantages-item--three {
    &::after {
      content: '';
      position: absolute;
      top: 13px;
      left: 0;
      background-image: url('@img/hero/three.svg');
      width: 30px;
      height: 30px;
    }
  }
}

//====================================================================================================

.services {

  /* .services__container */
  @include adaptiveValue("padding-top", 120, 60);
  @include adaptiveValue("padding-bottom", 120, 60);

  &__container {}

  /* .services__title */

  &__title {
    color: rgb(22, 21, 22);
    font-family: Montserrat;
    @include adaptiveValue("font-size", 38, 30);
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 15px;
  }

  /* .services__wrapp */

  &__wrapp {}

  /* .services__description */

  &__description {
    color: rgb(22, 21, 22);
    font-family: Montserrat;
    @include adaptiveValue("font-size", 24, 18);
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 20px;
    position: relative;
    max-width: 230px;
    @include adaptiveValue("max-width", 230, 170);

    &::after {
      content: '';
      position: absolute;
      background-image: url('@img/arow-down.svg');
      width: 17px;
      height: 9px;
      right: -10px;
      @include adaptiveValue("top", 10, 7);
      z-index: 10;
    }
  }

  /* .services__box */

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 33px;
    padding-bottom: 33px;
    border-top: 1px solid rgb(202, 200, 202);

    @media (max-width: em(737)) {
      flex-direction: column;
      gap: 15px;
    }
  }

  /* .services__box-title */

  &__box-title {
    max-width: 400px;
    flex: 1 0;

    @media (max-width: em(737)) {
      text-align: center;
    }
  }

  /* .services__box-time */

  &__box-time {}

  /* .services__box-price */

  &__box-price {}

  /* .services__box-btn */

  &__box-btn {
    padding: 13px 34px;
    border: 1px solid rgb(171, 12, 54);
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    color: rgb(171, 12, 54);
    font-family: OpenSans;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    transition: all 0.9s;

    &:hover {
      background-color: rgb(171, 12, 54);
      color: white;
    }
  }
}

// =================================================

.service-packages {

  /* .service-packages__container */
  @include adaptiveValue("padding-top", 104, 52);
  background-color: rgb(171, 12, 54);

  &__container {}

  /* .service-packages__title */

  &__title {

    color: rgb(255, 255, 255);
    font-family: Montserrat;
    @include adaptiveValue("font-size", 38, 20);
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
  }

  /* .service-packages__wrapp */

  &__wrapp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include adaptiveValue("gap", 24, 12);
    position: relative;
    z-index: 3;
    @include adaptiveValue("top", 100, 20);

    @media (max-width: em(1194)) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  /* .service-packages__item */

  &__item {
    backdrop-filter: blur(40px);
    background-color: rgb(255, 255, 255);
    @include adaptiveValue("padding", 40, 20);
    text-align: center;
  }

  /* .service-packages__item-title */

  &__item-title {
    color: rgb(22, 21, 22);
    font-size: 24px;
    @include adaptiveValue("font-size", 24, 18);
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    @include adaptiveValue("margin-bottom", 17, 15);
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: -8px;
      left: 50%;
      transform: translate(-50%);
      height: 2px;
      width: 120px;
      background-color: rgb(171, 12, 54);
    }
  }

  /* .service-packages__item-description */

  &__item-description {
    color: rgb(34, 32, 34);
    font-family: OpenSans;
    @include adaptiveValue("font-size", 18, 14);
    font-weight: 300;
    line-height: 150%;
    letter-spacing: 0%;
    @include adaptiveValue("margin-bottom", 30, 15);
  }

  /* .service-packages__item-price */

  &__item-price {
    color: rgb(22, 21, 22);
    @include adaptiveValue("font-size", 30, 16);
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    margin-bottom: 4px;
  }

  /* .service-packages__item-oldprice */

  &__item-oldprice {
    color: rgb(34, 32, 34);
    @include adaptiveValue("font-size", 16, 10);
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-decoration: line-through;
    @include adaptiveValue("margin-bottom", 30, 15);
  }

  /* .service-packages__item-btn */

  &__item-btn {
    @include adaptiveValue("border-radius", 50, 25);
    background: rgb(171, 12, 54);
    color: white;
    padding: 13px 34px;
  }

  /* .service-packages__images */

  &__images {
    @include adaptiveValue("height", 570, 285);
    width: 100%;
    background-image: url('@img/service-packages-bg.jpeg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;

  }
}

// ==========================================

.stocks {

  /* .stocks__container */
  @include adaptiveValue("padding-top", 120, 60);

  &__container {}

  /* .stocks__title */

  &__title {
    color: rgb(22, 21, 22);
    @include adaptiveValue("font-size", 38, 26);
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 56px;
    @include adaptiveValue("margin-bottom", 56, 28);
  }

  /* .stocks__wrapp */

  &__wrapp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include adaptiveValue("gap", 25, 12);

    @media (max-width: em(1416)) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }


  &__item {
    background-color: rgb(255, 245, 244);
    text-align: center;
    @include adaptiveValue("padding-bottom", 32, 16);
    @include adaptiveValue("width", 456, 228);

    @media (max-width: em(577)) {
      width: 100%;
    }
  }

  /* .stocks__img */

  &__img {
    @include adaptiveValue("margin-bottom", 32, 16);
    @include adaptiveValue("width", 456, 228);
    @include adaptiveValue("height", 278, 139);

    @media (max-width: em(577)) {
      width: 100%;
      height: 100%;
    }
  }

  /* .stocks__box */

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    @include adaptiveValue("margin-bottom", 26, 13);
  }

  /* .stocks__price */

  &__price {
    color: rgb(22, 21, 22);
    @include adaptiveValue("font-size", 30, 18);
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
  }

  /* .stocks__oldprice */

  &__oldprice {
    text-decoration: line-through;
    color: rgb(22, 21, 22);
    @include adaptiveValue("font-size", 16, 14);
    font-weight: 300;
    line-height: 130%;
    letter-spacing: 0%;
  }

  /* .stocks__item-title */

  &__item-title {
    color: rgb(22, 21, 22);
    font-size: 22px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    margin-bottom: 8px;
  }

  /* .stocks__item-description */

  &__item-description {
    font-size: 14px;
    @include adaptiveValue("padding-left", 32, 16);
    @include adaptiveValue("padding-right", 32, 16);
    @include adaptiveValue("margin-bottom", 32, 16);
  }

  /* .stocks__btn */

  &__btn {
    @include adaptiveValue("border-radius", 50, 25);
    background: rgb(171, 12, 54);
    color: white;
    padding: 13px 34px;
  }
}

// ==================================
.feedback {

  /* .feedback__wrapp */

  @include adaptiveValue("padding-top", 120, 60);

  &__wrapp {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: em(895)) {
      flex-direction: column;
      justify-content: center;
    }
  }

  /* .feedback__img */

  &__img {
    @include adaptiveValue("width", 576, 288);
    @include adaptiveValue("height", 542, 271);

    @media (max-width: em(895)) {
      width: 100%;
      height: 100%;
    }
  }

  /* .feedback__box */

  &__box {
    background-color: rgb(255, 245, 244);
    @include adaptiveValue("padding", 150, 25);
    height: 676px;
    @include adaptiveValue("height", 676, 338);
    @include adaptiveValue(" margin-left", -50, 0);
    position: relative;
    z-index: -1;

    @media (max-width: em(895)) {
      text-align: center;
      height: 100%;
      margin-left: 0;
    }
  }

  /* .feedback__title */

  &__title {
    color: rgb(22, 21, 22);
    @include adaptiveValue("font-size", 38, 22);
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    @include adaptiveValue("margin-bottom", 24, 12);
  }

  /* .feedback__description */

  &__description {
    color: rgb(34, 32, 34);
    font-family: OpenSans;
    @include adaptiveValue("font-size", 18, 14);
    font-weight: 300;
    line-height: 150%;
    letter-spacing: 0%;
    @include adaptiveValue("margin-bottom", 57, 28);
  }

  /* .feedback__btn */

  &__btn {
    @include adaptiveValue("border-radius", 50, 25);
    background: rgb(171, 12, 54);
    color: white;
    padding: 13px 34px;
  }
}

// =====
.advantages {

  /* .advantages__container */
  @include adaptiveValue("padding-top", 120, 60);

  &__container {}

  /* .advantages__title */

  &__title {
    color: rgb(22, 21, 22);
    @include adaptiveValue("font-size", 38, 22);
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    @include adaptiveValue("margin-bottom", 57, 28);
  }

  /* .advantages__wrapp */

  &__wrapp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include adaptiveValue("gap", 27, 13);

    @media (max-width: em(965)) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  /* .advantages__item */

  &__item {
    text-align: center;
  }

  /* .advantages__img */

  &__img {

    @include adaptiveValue("width", 88, 72);
    @include adaptiveValue("height", 88, 72);
    @include adaptiveValue("margin-bottom", 16, 8);
  }

  /* .advantages__item-title */

  &__item-title {
    @include adaptiveValue("margin-bottom", 10, 5);
    color: rgb(22, 21, 22);
    @include adaptiveValue("font-size", 20, 14);
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
  }

  /* .advantages__item-description */

  &__item-description {
    color: rgb(22, 21, 22);
    font-family: OpenSans;
    @include adaptiveValue("font-size", 16, 12);
    font-weight: 300;
    line-height: 150%;
    letter-spacing: 0%;

  }
}

// ==================================

.care {

  /* .care__container */
  @include adaptiveValue("padding-top", 120, 60);
  @include adaptiveValue("padding-bottom", 120, 60);

  &__container {}

  /* .care__title */

  &__title {
    color: rgb(22, 21, 22);
    @include adaptiveValue("font-size", 38, 22);
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 15px;
  }

  /* .care__slider */

  &__slider {}

  /* .care__wrapper */

  &__wrapper {
    margin-bottom: 30px;
  }

  /* .care__slide */

  &__slide {}

  /* .care__slide-img */

  &__slide-img {
    margin-bottom: 24px;
    @include adaptiveValue("width", 456, 228);
    @include adaptiveValue("height", 350, 175);
  }

  /* .care__slide-description */

  &__slide-description {
    max-width: 250px;
    color: rgb(22, 21, 22);
    font-family: OpenSans;
    font-size: 18px;
    @include adaptiveValue("font-size", 18, 14);
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

// скрол
.care__slider .swiper-scrollbar-drag {
  background-color: #c50d0d;
  cursor: pointer;
}

// ========================================

.procedure {

  /* .procedure__container */
  @include adaptiveValue("padding-top", 104, 52);
  @include adaptiveValue("padding-bottom", 104, 52);
  background-image: url('@img/procedure-bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;

  &__container {}

  /* .procedure__box */

  &__box {
    max-width: 696px;
    @include adaptiveValue("padding", 60, 30);
    backdrop-filter: blur(40px);
    background: rgba(255, 255, 255, 0.7);
  }

  /* .procedure__box-title */

  &__box-title {
    color: rgb(22, 21, 22);
    @include adaptiveValue("font-size", 38, 22);
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    @include adaptiveValue("margin-bottom", 24, 12);
  }

  /* .procedure__box-description */

  &__box-description {
    color: rgb(34, 32, 34);
    font-family: Open Sans;
    @include adaptiveValue("font-size", 18, 14);
    font-weight: 300;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    @include adaptiveValue("margin-bottom", 56, 28);
  }

  /* .procedure__box-btn */

  &__box-btn {
    @include adaptiveValue("border-radius", 50, 25);
    background: rgb(171, 12, 54);
    color: white;
    padding: 13px 34px;
  }
}

// ==========================
.tasks {

  /* .tasks__container */
  @include adaptiveValue("padding-top", 104, 50);
  @include adaptiveValue("padding-bottom", 104, 50);
  /* светло-розовый */
  background-color: rgb(255, 245, 244);

  &__container {}

  /* .tasks__wraper */

  &__wraper {
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 100, 20);
  }
  &__img{
    @include adaptiveValue("width", 576,288);
    @include adaptiveValue("height", 490, 245);
    @media (max-width: em(842)){
       display: none; 
    }
  }
}



.questions {

  &__list {
    margin: 0 auto;
    width: 100%;
  }

  &__item {
    @include adaptiveValue("margin-bottom", 10, 5);
    width: 100%;
  }

  &__title {
    position: relative;
    width: 100%;
    @include adaptiveValue("padding-top", 20, 10);
    @include adaptiveValue("padding-bottom", 20, 10);
    @include adaptiveValue("padding-left", 30, 15);
    @include adaptiveValue("padding-right", 30, 15);
    background-color: rgb(255, 245, 244);
    text-align: left;
    border: none;
    font-weight: 400;
    @include adaptiveValue("font-size", 22, 14);
    line-height: 21px;
    transition: all 0.3s;
    border-bottom: 1px solid rgb(202, 200, 202);

    &:hover {
      color: red;
    }

    &::after {
      content: "";
      position: absolute;
      @include adaptiveValue("right", 20, 10);
      @include adaptiveValue("bottom", 26, 13);
      @include adaptiveValue("width", 17, 9);
      @include adaptiveValue("height", 17, 9);
      border: 2px solid;
      border-color: transparent #b80707 #cc0808 transparent;
      transform: rotate(45deg);
      transition: border-color 0.5s ease-in-out, bottom 0.5s ease-in-out;
    }

    &:hover::after {
      border-color: transparent #676767 #676767 transparent;
    }

    &.active:after {
      border-color: #b80707 transparent transparent #b80707;
      @include adaptiveValue(" bottom", 15, 8);
    }

  }

  &__description {
    margin-top: -2px;
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease-in-out;

    &.active {
      height: auto;
    }

    p {
      background-color: rgb(255, 245, 244);
      @include adaptiveValue("padding-top", 5, 5);
      @include adaptiveValue("padding-bottom", 5, 5);
      @include adaptiveValue("padding-left", 30, 15);
      @include adaptiveValue("padding-right", 30, 15);
      font-weight: 400;
      @include adaptiveValue("font-size", 18, 10);
      line-height: 19px;
      color: rgb(34, 32, 34);
    }
  }
}
// ====================================