//====================================================================================================
.wrapper {}

.page {}

.hero {

  /* .hero__container */
  background-image: url('@img/hero/hero-bg.jpeg');
  background-repeat: no-repeat;
  background-color: rgb(255, 245, 244);
  background-position: top right;

  &__container {}

  /* .hero__wrapp */

  &__wrapp {
    @media (max-width: em(1440)) {
      background-color: rgba(255, 245, 244, 0.5);
    }
  }

  /* .hero__title */

  &__title {
    padding-top: 139px;
    @include adaptiveValue("padding-top", 139, 69);
    margin-bottom: 25px;
    max-width: 696px;
    color: rgb(22, 21, 22);
    font-family: Source Serif Pro;
    font-size: 48px;
    @include adaptiveValue("font-size", 48, 30);
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
  }

  /* .hero__description */

  &__description {
    max-width: 696px;
    margin-bottom: 40px;
    @include adaptiveValue("margin-bottom", 40, 20);
    color: rgb(34, 32, 34);
    font-family: Open Sans;
    font-size: 18px;
    @include adaptiveValue("font-size", 18, 16);
    font-weight: 300;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;

  }

  /* .hero__price */

  &__price {
    color: rgb(22, 21, 22);
    margin-bottom: 40px;
    @include adaptiveValue("margin-bottom", 40, 20);
    font-family: Source Serif Pro;
    font-size: 40px;
    @include adaptiveValue("font-size", 40, 24);
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: left;
  }

  /* .hero__btn */

  &__btn {
    padding: 17px 58px;
    margin-bottom: 57px;
    font-size: 18px;
    @include adaptiveValue("margin-bottom", 57, 20);
    border-radius: 50px;
    background-color: rgb(171, 12, 54);
    color: white;
  }

  /* .hero__advantages */

  &__advantages {
    background-color: rgb(255, 215, 218);
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 140px;

    @media (max-width: em(675)) {
      flex-direction: column;
      height: 100%;
      gap: 24px;
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 16px;
    }
  }

  /* .hero__advantages-item */

  &__advantages-item {
    max-width: 200px;
    position: relative;
    padding-left: 46px;

    span {
      font-family: OpenSans;
      color: black;
      font-weight: 900;
    }
  }

  &__advantages-item--one {
    &::after {
      content: '';
      position: absolute;
      top: 13px;
      left: 0;
      background-image: url('@img/hero/one.svg');
      width: 30px;
      height: 30px;
    }
  }

  &__advantages-item--two {
    &::after {
      content: '';
      position: absolute;
      top: 13px;
      left: 0;
      background-image: url('@img/hero/two.svg');
      width: 30px;
      height: 30px;
    }
  }

  &__advantages-item--three {
    &::after {
      content: '';
      position: absolute;
      top: 13px;
      left: 0;
      background-image: url('@img/hero/three.svg');
      width: 30px;
      height: 30px;
    }
  }
}

//====================================================================================================

.services {

  /* .services__container */
  @include adaptiveValue("padding-top", 120, 60);
  @include adaptiveValue("padding-bottom", 120, 60);

  &__container {}

  /* .services__title */

  &__title {
    color: rgb(22, 21, 22);
    font-family: Montserrat;
    @include adaptiveValue("font-size", 38, 30);
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 15px;
  }

  /* .services__wrapp */

  &__wrapp {}

  /* .services__description */

  &__description {
    color: rgb(22, 21, 22);
    font-family: Montserrat;
    @include adaptiveValue("font-size", 24, 18);
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 20px;
    position: relative;
    max-width: 230px;
    @include adaptiveValue("max-width", 230, 170);

    &::after {
      content: '';
      position: absolute;
      background-image: url('@img/arow-down.svg');
      width: 17px;
      height: 9px;
      right: -10px;
      @include adaptiveValue("top", 10, 7);
      z-index: 10;
    }
  }

  /* .services__box */

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 33px;
    padding-bottom: 33px;
    border-top: 1px solid rgb(202, 200, 202);

    @media (max-width: em(737)) {
      flex-direction: column;
      gap: 15px;
    }
  }

  /* .services__box-title */

  &__box-title {
    max-width: 400px;
    flex: 1 0;

    @media (max-width: em(737)) {
      text-align: center;
    }
  }

  /* .services__box-time */

  &__box-time {}

  /* .services__box-price */

  &__box-price {}

  /* .services__box-btn */

  &__box-btn {
    padding: 13px 34px;
    border: 1px solid rgb(171, 12, 54);
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    color: rgb(171, 12, 54);
    font-family: OpenSans;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    transition: all 0.9s;

    &:hover {
      background-color: rgb(171, 12, 54);
      color: white;
    }
  }
}

// =================================================

.service-packages {

  /* .service-packages__container */
  @include adaptiveValue("padding-top", 104, 52);
  background-color: rgb(171, 12, 54);

  &__container {}

  /* .service-packages__title */

  &__title {

    color: rgb(255, 255, 255);
    font-family: Montserrat;
    @include adaptiveValue("font-size", 38, 20);
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
  }

  /* .service-packages__wrapp */

  &__wrapp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include adaptiveValue("gap", 24, 12);
    position: relative;
    z-index: 3;
    @include adaptiveValue("top", 100, 20);

    @media (max-width: em(1194)) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  /* .service-packages__item */

  &__item {
    backdrop-filter: blur(40px);
    background-color: rgb(255, 255, 255);
    @include adaptiveValue("padding", 40, 20);
    text-align: center;
  }

  /* .service-packages__item-title */

  &__item-title {
    color: rgb(22, 21, 22);
    font-size: 24px;
    @include adaptiveValue("font-size", 24, 18);
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    @include adaptiveValue("margin-bottom", 17, 15);
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: -8px;
      left: 50%;
      transform: translate(-50%);
      height: 2px;
      width: 120px;
      background-color: rgb(171, 12, 54);
    }
  }

  /* .service-packages__item-description */

  &__item-description {
    color: rgb(34, 32, 34);
    font-family: OpenSans;
    @include adaptiveValue("font-size", 18, 14);
    font-weight: 300;
    line-height: 150%;
    letter-spacing: 0%;
    @include adaptiveValue("margin-bottom", 30, 15);
  }

  /* .service-packages__item-price */

  &__item-price {
    color: rgb(22, 21, 22);
    @include adaptiveValue("font-size", 30, 16);
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    margin-bottom: 4px;
  }

  /* .service-packages__item-oldprice */

  &__item-oldprice {
    color: rgb(34, 32, 34);
    @include adaptiveValue("font-size", 16, 10);
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-decoration: line-through;
    @include adaptiveValue("margin-bottom", 30, 15);
  }

  /* .service-packages__item-btn */

  &__item-btn {
    @include adaptiveValue("border-radius", 50, 25);
    background: rgb(171, 12, 54);
    color: white;
    padding: 13px 34px;
  }

  /* .service-packages__images */

  &__images {
    @include adaptiveValue("height", 570, 285);
    width: 100%;
    background-image: url('@img/service-packages-bg.jpeg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;

  }
}

// ==========================================

.stocks {

  /* .stocks__container */
  @include adaptiveValue("padding-top", 120, 60);

  &__container {}

  /* .stocks__title */

  &__title {
    color: rgb(22, 21, 22);
    @include adaptiveValue("font-size", 38, 26);
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 56px;
    @include adaptiveValue("margin-bottom", 56, 28);
  }

  /* .stocks__wrapp */

  &__wrapp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include adaptiveValue("gap", 25, 12);
    @media (max-width: em(1416)){
       flex-wrap: wrap;
       justify-content: center; 
    }
  }
    

  &__item {
    background-color: rgb(255, 245, 244);
    text-align: center;
    @include adaptiveValue("padding-bottom", 32, 16);
    @include adaptiveValue("width", 456, 228);
     @media (max-width: em(577)){
        width: 100%;
    }
  }

  /* .stocks__img */

  &__img {
    @include adaptiveValue("margin-bottom", 32, 16);
    @include adaptiveValue("width", 456, 228);
    @include adaptiveValue("height", 278, 139);
    @media (max-width: em(577)){
        width: 100%;
        height: 100%;
    }
  }

  /* .stocks__box */

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    @include adaptiveValue("margin-bottom", 26, 13);
  }

  /* .stocks__price */

  &__price {
    color: rgb(22, 21, 22);
    @include adaptiveValue("font-size", 30, 18);
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
  }

  /* .stocks__oldprice */

  &__oldprice {
    text-decoration: line-through;
    color: rgb(22, 21, 22);
    @include adaptiveValue("font-size", 16, 14);
    font-weight: 300;
    line-height: 130%;
    letter-spacing: 0%;
  }

  /* .stocks__item-title */

  &__item-title {
    color: rgb(22, 21, 22);
    font-size: 22px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    margin-bottom: 8px;
  }

  /* .stocks__item-description */

  &__item-description {
    font-size: 14px;
    @include adaptiveValue("padding-left", 32, 16);
    @include adaptiveValue("padding-right", 32, 16);
    @include adaptiveValue("margin-bottom", 32, 16);
  }

  /* .stocks__btn */

  &__btn {
    @include adaptiveValue("border-radius", 50, 25);
    background: rgb(171, 12, 54);
    color: white;
    padding: 13px 34px;
  }
}